@each $level, $size in $font-sizes {
  h#{$level},
  .h#{$level} {
    font-family: $font-family-sans-serif;
    font-weight: 100;
  }
}

.condensed {
  font-family: $font-family-sans-serif-header;
}

a {
  text-decoration: none;
}

@each $level, $size in $title-font-sizes {
  .t#{$level} {
    font-size: $size;
    font-weight: 600;
  }
}

@each $level, $size in $paragraph-font-sizes {
  .p#{$level}-600 {
    font-size: $size;
    font-weight: 600;
  }
  .p#{$level} {
    font-size: $size;
  }
}

p {
  font-size: 18px;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
