$primary: #f36b23;
$secondary: #474747;
$dropdown-bg: #2b2b2b;
$dropdown-border-color: #3eabaa;
$dropdown-color: #fff;
$dropdown-divider-bg: #fff;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #474747;
$dropdown-header-color: #fff;
$dropdown-inner-border-radius: 2;
$dropdown-border-radius: 2px;
$dropdown-border-width: 2px;
$navbar-padding-y: 2rem;
