@import "../sass/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../sass/typography";
@import "../sass/components/header";
@import "../sass/components/footer";

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-toggle::after {
  border-top-color: #f36b23;
}

.icon {
  width: 32px;
}

.g-row-gap-0 {
  row-gap: 0;
}

.g-gap-60 {
  gap: 60px;
}

.bdr-r-1 {
  border-right: #999999 solid 2px;
}

.featured-header {
  min-height: 500px;
  h1 {
    color: white;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-filter {
  ul {
    margin: 1rem 0 1rem 0;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
  }
}

.bg-grey {
  background-color: #dedede;
}

.bg-turquoise {
  background-color: $turquoise;
}

.btn-turquoise {
  @include button-variant($turquoise, $turquoise);
}

.btn-featured-dark-round {
  @include button-variant(#2b2b2b, $primary, $white, $primary);
  border-radius: 50rem;
  min-width: 9rem;
}

.featured-recipe {
  .details {
    padding: 4rem;
    display: flex;
    align-items: center;
    background-color: #2b2b2b;
    color: white;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.offcanvas-expand-lg {
  .offcanvas-open-btn {
    display: flex;
  }
  @include media-breakpoint-up(lg) {
    .offcanvas-open-btn {
      display: none !important;
    }

    .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }

    .offcanvas-header {
      display: none;
    }

    .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
      height: 100%;
    }
  }
}
