.navbar-dark .navbar-toggler {
  border-color: #474747;
}

.btn-offcanvas {
  @include button-variant(#2d2d2d, #2d2d2d);
}

.offcanvas-footer {
  .social-nav {
    margin-bottom: 2rem;
    a {
      font-size: 16px;
    }
  }

  .term-nav {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    a {
      font-size: 12px;
    }

    p {
      font-size: 12px;
      padding-top: 2rem;
      margin: 0;
    }
  }
}

.recipe-navbar {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;

  .nav-link.active span {
    padding-bottom: 0.5rem;
    border-bottom: #3eabaa solid 5px;
  }
}

.main-navbar {
  .nav-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }

    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding-left: 1.6rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
    }
  }
}

.user-dropdown-mobile {
  .user-btn-toggle {
    position: relative;
  }

  .dropdown-menu.show {
    border: 2px solid #3eabaa;
  }

  .dropdown-menu.dropdown-menu-center-lg.show {
    right: auto !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
  }

  .dropdown-toggle.show {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      bottom: -32px;
      box-sizing: border-box;
      border: 0.5em solid black;
      border-color: transparent transparent #2d2d2d #2d2d2d;
      transform: rotate(135deg);
      box-shadow: -2px 2px 0px 0 #3eabaa;
      z-index: 1001;
      margin: auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-menu.show {
    border: 2px solid #3eabaa;
  }

  .dropdown-menu.dropdown-menu-center-lg.show {
    right: auto !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
  }

  .dropdown-toggle.show {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      bottom: -32px;
      box-sizing: border-box;
      border: 0.5em solid black;
      border-color: transparent transparent #2d2d2d #2d2d2d;
      transform: rotate(135deg);
      box-shadow: -2px 2px 0px 0 #3eabaa;
      z-index: 1001;
      margin: auto;
    }
  }
}

.user-navbar {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.util-navbar,
.user-navbar {
  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;

      svg {
        margin-left: 1rem;
      }
    }
  }
}

.navbar-nav {
  .nav-item {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
  }

  .dropdown-menu {
    padding: 1rem;
  }

  .nav-link.active {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
  }
}

.navbar-brand {
  margin-right: 2.6rem;
}

.caret-off::after {
  display: none;
}

.offcanvas-footer {
  display: none;
}

.offcanvas {
  z-index: 1065;
  color: #2d2d2d;

  @include media-breakpoint-down(lg) {
    padding: 1.5rem;
    color: #fff;

    .offcanvas-footer {
      padding: 1rem;
      display: inline;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .navbar-nav {
      &::after {
        content: "";
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        height: 2px;
        background-color: #999999;
        display: flex;
      }

      .dropdown-menu {
        padding: 0;
        margin-top: 0;
      }

      .dropdown-divider {
        margin: 0.5rem 0;
        border-top: 0px;
        height: 0;
      }

      .nav-item {
        margin-left: 0;
        margin-right: 0;
      }

      .nav-link {
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 0.813rem;
        padding-bottom: 0.813rem;
      }
    }
  }
}
